/* homePage.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(hostelImage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

.options-container {
    background-color: #fff;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

a {
    display: inline-block;
    margin: 10px 0;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color:  #45a049;
}
