/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(counsillorImage.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

.options-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px; /* Adjust height as needed */
}

.options-container h1 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #333;
}

.options-container a {
    display: inline-block;
    background-color: #4CAF50;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.options-container a:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.options-container a:active {
    transform: translateY(0);
}
