body {
    background-image: url(securityImage.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #555;
    margin-top: 20px;
}

#scannerVideo {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    display: block;
}

#scanBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#scanResult {
    margin-top: 20px;
    text-align: center;
}

#doneBtn {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
